.App {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 20px;
  background-color: #FFFFFF;
  border-radius: 5px;
  width: 100%;
}

header .logo{
  display: flex;
  align-items: center;
}

header .logo img{
  height: auto;
  cursor: pointer;
}

/*
header .logo span{
  font-size: 80px;
  margin-left: 10px;
  color: #525252;
  font-weight: bold;
}
  */

  header .nav-menu {
    display: flex;
    list-style-type: none;
  }

  header .nav-menu li {
    margin-left: 20px;
  }

  header .nav-menu a {
    text-decoration: none;
    color: #333;
    font-size: 32px;
    font-weight: bold;
  }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}