

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100%;
  font-family: "Kanit", serif;
  font-weight: 400;
  font-style: normal;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(59, 59, 59);
  width: 100%;
  height: 72px;
  align-items: center;
  border-radius: 10px;
}

.header img {
  height: auto;
  cursor: pointer;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 2px;
}

/*
header .logo span{
  font-size: 80px;
  margin-left: 10px;
  color: #525252;
  font-weight: bold;
}
  */

.nav-menu {
  display: flex;
  list-style-type: none;
}

.nav-menu a {
  text-decoration: none;
  color: rgb(245, 245, 50);
  font-size: 32px; 
}

.nav-menu a:last-child {
  margin-right: 20px;
}

h1, h2 {
  font-family: "Kanit", serif;
  margin-left: 2px;
}

h1 {
  font-weight: 400;
}

h2 {
  font-weight: 200;
}

.search-button {
  padding: 5px;
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: rgb(46, 61, 75);
  color: white;
  font-family: "Kanit", serif;
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
}

.search-field {
  margin-right: 20px;
  margin-left: 2px;
  height: 32px;
  border-radius: 5px;
}

button:hover{
background-color: blue;
}