

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 20px;
  background-color: dimgray;
  border-radius: 5px;
  width: 100%;
  font-family: "Kanit", serif;
  font-weight: 400;
  font-style: normal;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.navbar img {
  height: auto;
  cursor: pointer;
  border-radius: 10px;
}

/*
header .logo span{
  font-size: 80px;
  margin-left: 10px;
  color: #525252;
  font-weight: bold;
}
  */

.nav-menu {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-menu li {
  margin: 10px;
}

.nav-menu a {
  text-decoration: none;
  color: rgb(168, 168, 58);
  font-size: 32px;
  text-shadow: 
    2px 2px 0px black,  
    -2px -2px 0px black, 
    2px -2px 0px black,  
    -2px 2px 0px black;  
}

